<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="User study interface @Meero">
  <title>User Study Interface</title>
  <style>
    body {
      background-color: gray;
    }
  </style>
</head>

<body>
  </div>
  <table width="100%">
    <tr>
      <td colspan="3" style="text-align: center;">
        <h2 style="text-align: center;">Click on brighter image</h2>
        <!-- <p style="text-align: center;">Click on brighter image</p> -->

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" style="color: rgb(0, 255, 106); font-size: large;">
          {{ message }}
        </div>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td width="50%">
        <form action="#" method="post">
          <button name="grid_image_clicked" {{is_left_button_disabled}}>
            <img src={{compare_image_url}} alt="compare image" width="100%">
          </button>
        </form>
      </td>
      <td>
        <form action="#" method="post">
          <input type="submit" name="equal_button" value="same brightness" style="padding: 12px 28px;">
        </form>
      </td>
      <td width="50%">
        <form action="#" method="post">
          <button name="dataset_image_clicked" {{is_right_button_disabled}}>
            <img src={{reference_image_url}} alt="reference image" width="100%">
          </button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center;">
        <hr>
        <hr>
        <form action="#" method="post">
          <input type="submit" name="reset_button" value="Restart current comparison" style="padding: 12px 28px;">
        </form>
        <form action="#" method="post" style="text-align: right;">
          <input type="submit" name="logout_button" value="logout" style="padding: 12px 28px;">
        </form>
      </td>
    </tr>
  </table>

</body>

</html>